*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
}
.container > div{
    background-size: cover;
    background-position: center;
}
.img1{
    background-image: url("images/img (1).webp");
    grid-area: 1/1/3/3;
}
.img2{
    background-image: url("images/img (10).jpg");
    grid-area: 1/3/3/10;
}
.img3{
    background-image: url("images/img (7).webp");
    grid-column: 10 / span 3;
    grid-row: 1 / 3;
}
.img4{
    background-image: url("images/img (13).jpg");
    grid-column: 1 / span 3;
    grid-row: 3 / 5;
}
.img5{
    background-image: url("images/img (14).jpg");
    grid-column: 4 / 6;
    grid-row: 3 / 5;
}
.img6{
    background-image: url("images/img (15).jpg");
    grid-column: 6 / 8;
    grid-row: 3 / 5;
}
.img7{
    background-image: url("images/img (12).jpg");
    grid-column: 8 / span 5;
    grid-row: 3 / 5;
}
.img8{
    background-image: url("images/img (9).jpg");
    grid-area: 5/1/7/3;
}
.img9{
    background-image: url("images/img (8).jpg");
    grid-area: 5/3/7/5;
}
.img10{
    background-image: url("images/img (7).jpg");
    grid-area: 5/5/7/7;
}
.img11{
    background-image: url("images/img (6).jpg");
    grid-area: 5/7/7/9;
}
.img12{
    background-image: url("images/img (5).jpg");
    grid-area: 5/9/7/11;
}
.img13{
    background-image: url("images/img (4).jpg");
    grid-area: 5/11/7/13;
}
.img14{
    background-image: url("images/img (3).jpg");
    grid-area: 7/1/10/5;
}
.img15{
    background-image: url("images/img (2).jpg");
    grid-area: 7/5/9/7;
}
.img16{
    background-image: url("images/img (1).jpg");
    grid-area: 7/7/10/9;
}
.img17{
    background-image: url("images/img (10).jpg");
    grid-area: 7/9/9/span 4;
}
.img18{
    background-image: url("images/img (5).webp");
    grid-area: 10/1/13/5;
}
.img19{
    background-image: url("images/img (2).avif");
    grid-area: 9/5/13/7;
}
.img20{
    background-image: url("images/img (1).avif");
    grid-area: 10/7/13/9;
}
.img21{
    background-image: url("images/img (3).webp");
    grid-area: 9/9/13/13;
}

@media only screen and (max-width: 600px) {
        .container{
            height: 1000vh;
            grid-template-rows: repeat(84,1fr);
        }
        .img1{
            grid-area: 1/ 1 /5 / span 12;
        }
        .img2{
            grid-area: 5/ 1 / 9 / span 12;
        }
        .img3{
            grid-area: 9/ 1 / 13 / span 12;
        }
        .img4{
            grid-area: 13/ 1 / 17 / span 12;
        }
        .img5{
            grid-area: 17/ 1 / 21 / span 12;
        }
        .img6{
            grid-area: 21/ 1 / 25 / span 12;
        }
        .img7{
            grid-area: 25/ 1 / 29 / span 12;
        }
        .img8{
            grid-area: 29/ 1 / 33 / span 12;
        }
        .img9{
            grid-area: 33/ 1 / 37 / span 12;
        }
        .img10{
            grid-area: 37/ 1 / 41 / span 12;
        }
        .img11{
            grid-area: 41/ 1 / 45 / span 12;
        }
        .img12{
            grid-area: 45/ 1 / 49 / span 12;
        }
        .img13{
            grid-area: 49/ 1 / 53 / span 12;
        }
        .img14{
            grid-area: 53/ 1 / 57 / span 12;
        }
        .img15{
            grid-area: 57/ 1 / 61 / span 12;
        }
        .img16{
            grid-area: 61/ 1 / 65 / span 12;
        }
        .img17{
            grid-area: 65/ 1 / 69 / span 12;
        }
        .img18{
            grid-area: 69/ 1 / 73 / span 12;
        }
        .img19{
            grid-area: 73/ 1 / 77 / span 12;
        }
        .img20{
            grid-area: 77/ 1 / 81 / span 12;
        }
        .img21{
            grid-area: 81/ 1 / 85 / span 12;
        }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .container{
        height: 400vh;
        grid-template-rows: repeat(44,1fr);
    }
    .img1{
        grid-area: 1/ 1 /5 / span 6;
    }
    .img2{
        grid-area: 1/ 7 / 5 / span 6;
    }
    .img3{
        grid-area: 5/ 1 / 9 / span 6;
    }
    .img4{
        grid-area: 5/ 7 / 9 / span 6;
    }
    .img5{
        grid-area: 9/ 1 / 13 / span 6;
    }
    .img6{
        grid-area: 9/ 7 / 13 / span 6;
    }
    .img7{
        grid-area: 13/ 1 / 17 / span 6;
    }
    .img8{
        grid-area: 13/ 7 / 17 / span 6;
    }
    .img9{
        grid-area: 17/ 1 / 21 / span 6;
    }
    .img10{
        grid-area: 17/ 7 / 21 / span 6;
    }
    .img11{
        grid-area: 21/ 1 / 25 / span 6;
    }
    .img12{
        grid-area: 21/ 7 / 25 / span 6;
    }
    .img13{
        grid-area: 25/ 1 / 29 / span 6;
    }
    .img14{
        grid-area: 25/ 7 / 29 / span 6;
    }
    .img15{
        grid-area: 29/ 1 / 33 / span 6;
    }
    .img16{
        grid-area: 29/ 7 / 33 / span 6;
    }
    .img17{
        grid-area: 33/ 1 / 37 / span 6;
    }
    .img18{
        grid-area: 33/ 7 / 37 / span 6;
    }
    .img19{
        grid-area: 37/ 1 / 41 / span 6;
    }
    .img20{
        grid-area: 37/ 7 / 41 / span 6;
    }
    .img21{
        grid-area: 41/ 1 / 44 / span 6;
    }

}

